
 .topics{
    color: #6B3CC9;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
   
 }
.para{
  font-family: Inter;
  font-size: 16px;
}


.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 50;
  width: 100%;
  height: 100%;
}

/* MQ */

.default-rs-text-align {
  text-align: center;
}

.rs-btn-align {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 376px) {
  .default-rs-text-align {
    text-align: left;
  }

  .rs-btn-align {
    display: block;
  }
}
